@import url("https://fonts.googleapis.com/css2?family=Martel:wght@300&family=Oswald:wght@600&display=swap")
@import url("components/button.css");
@import url("components/avatar.css");
@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");








body{ font-family: font-family: 'Martel', serif;
	font-size: 14px; 
color: lightgrey;
 background-color: #073B4C;
}

h1, h2, h3{font-family:     font-family: 'Oswald', sans-serif;font-weight: bolder;
text-align: center;
margin-bottom: 60px;}

 a {text-decoration: none;}
 
